.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  /* position: relative; */
  box-sizing: border-box;
  gap: 8px;
}

.form-container {
  /* max-height: 750px; */
  /* max-width: 750px; */
  //   width: 50%;
  height: 85%;
  display: flex;
  flex-direction: row;
  /* border-radius: 1%; */
  border: 1px solid #bfc5ca;
  border-radius: 12px;
}

.form {
  padding: 48px 40px 36px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.google-logo {
  display: flex;
  height: 24px;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.g {
  color: #4285f4;
}

.o1 {
  color: #ea4335;
}

.o2 {
  color: #fbbc05;
}

.l {
  color: #34a853;
}

.e {
  color: #ea4335;
}

.heading {
  text-align: left;
  padding-top: 15px;
}

.heading h1 {
  color: #202124;
  padding-bottom: 0;
  padding-top: 16px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
  word-break: break-word;
}

.main-form {
  display: inline-block;
  font-size: 14px;
  padding: 24px 0 0;
  vertical-align: top;
  white-space: normal;
  width: 100%;
  gap: 10px;
}

.first-last-name {
  display: flex;
  // justify-content: space-between;
  gap: 20px;
}

.mat-form-field-appearance-fill
  .mat-form-field-flex
  .mat-form-field-infix
  input {
  height: 28px;
}

.mat-form-field-appearance-outline .mat-input-element {
  // width: 200px; /* Adjust the width to your desired value */
  height: 30px; /* Adjust the height to your desired value */
  font-size: 14px; /* Optionally adjust the font size */
}

.email-field {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  width: 100%;
}

.email-field-inner {
   width: 100%;
  }

.use-email-button-div {
  display: flex;
  justify-content: flex-start;
}
.use-email-button {
  font-size: 14px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  // letter-spacing: .0107142857em;
  font-weight: 500;
  text-transform: none;
  padding: 0 8px 0 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: left;
  width: 300px;
}

.password-main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.show-password {
  display: flex;
  flex-direction: row;
  padding: 8px 0 0;
  gap: 5px;
}

.last-buttons {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.sign-in-instant-button {
  font-size: 16px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  text-transform: none;
  padding: 0 8px 0 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: left;
  // width: 60px;
}
/***********************************************/

.google-img {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding-left: 50px;
  width: 300px;
}

.img-data {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.data {
  margin: 100px 4px 0;
  text-align: center;
}

.data-img {
  max-width: 100%;
}

.caption {
  font-size: 16px;
  font-weight: 300;
}

/*******************************************************/

footer {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 1.4;
  // padding: 0 24px 14px;
}

.lang-select {
  font-size: 12px;
  line-height: 1.4;
  width: 400px;
  height: auto;
  margin-bottom: 0;
  margin-right: 30px;
  margin-top: 10px;
}

.mat-select-trigger {
  border-bottom: none;
}

.all-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: flex-end;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  border-radius: 4px;
  color: #3c4043;
  margin-top: 0;
  outline: none;
  padding: 16.0000002px 16px;
  text-decoration: none;
}

@media screen and (max-width: 1112px) {
  
  .form-container {
     max-height: 750px;
    max-width: 550px; 
    // //   width: 50%;
    // height: 85%;
    display: flex;
    flex-direction: row;
    /* border-radius: 1%; */
    border: 1px solid #bfc5ca;
    border-radius: 12px;
  }
  .google-img {
    // display: flex;
    // -webkit-flex-shrink: 0;
    // flex-shrink: 0;
    // padding-left: 50px;
    // width: 100px;
    display: none;
  }
  .form {
    padding: 48px 40px 36px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.all-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 400px; */
  justify-content: flex-end;
  max-width: 200px;
}
.lang-select {
  font-size: 12px;
  line-height: 1.4;
  /* width: 400px; */
  height: auto;
  margin-bottom: 0;
  /* margin-right: 30px; */
  margin-top: 10px;
  max-width: 200px;
}
footer {
  height: 56px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 12px;
  line-height: 1.4;
}
}

@media screen and (max-width: 568px ) {
  .form-container {
    max-height: 750px;
   max-width: 450px; 
   // //   width: 50%;
   // height: 85%;
   display: flex;
   flex-direction: row;
   /* border-radius: 1%; */
   border: 1px solid transparent;
   border-radius: 12px;
 }
 .form {
  padding: 45px 35px 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}



.first-last-name {
  display: flex;
  // justify-content: space-between;
  gap: 0px;
  flex-direction: column;

}

.email-field-inner {
 width: 100%;
}

footer {
  display: none;
}
  
}