<div class="main-container">
  <div class="form-container">
    <div class="form">
      <div class="form-content">
        <div class="google-logo">
          <span class="g">G</span>
          <span class="o1">o</span>
          <span class="o2">o</span>
          <span class="g">g</span>
          <span class="l">l</span>
          <span class="e">e</span>
        </div>

        <div class="heading">
          <h1><span jsslot>Create your Google Account</span></h1>
        </div>

        <div class="main-form">
          <div class="first-last-name">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder=" ">
                <mat-hint></mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="">
                <mat-hint></mat-hint>
              </mat-form-field>
            </p>
          </div>

          <div class="email-field">
            <p>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>@gmail.com</mat-icon>
                <mat-hint>You can use letters, numbers &amp;periods</mat-hint>
              </mat-form-field>
            </p>

            <div class="use-email-button-div">
              <button mat-button color="primary" class="use-email-button">Use my current email address instead</button>
            </div>



          </div>

          <div class="password-main">
            <div class="first-last-name">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder=" ">
                  <mat-hint></mat-hint>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm</mat-label>
                  <input matInput placeholder="">
                  <mat-hint></mat-hint>
                </mat-form-field>
              </p>
            </div>
            <mat-checkbox class="example-margin">Show password</mat-checkbox>


          </div>


          <div class="last-buttons">
            <button mat-button color="primary" class="sign-in-instant-button">Sign in instead</button>
            <button mat-raised-button color="primary" class="next-button" style="width: 90px;">Next</button>
          </div>
        </div>
      </div>

      <div class="google-img">
        <div class="img-data">
          <figure class="data">
            <img src="../../../assets/account.svg" alt="" height="244px" width="244px" class="data-img">
            <figcaption class="caption">One account All of Google<br> working for you.</figcaption>
          </figure>

        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="lang-select">
      <mat-form-field appearance="fill">
        <mat-label>English(United State)&nbsp;&nbsp; </mat-label>
        <mat-select>
          <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
               {{food.viewValue}} 
            </mat-option> -->
        </mat-select>
      </mat-form-field>

    </div>

    <ul class="all-links">
      <li class="links">
        <a href="">Help</a>
      </li>

      <li class="links">
        <a href="">Privacy</a>
      </li>

      <li class="links">
        <a href="">Terms</a>
      </li>
    </ul>
  </footer>
</div>