<div class="main">
  <form [formGroup]="forgotPassword">
  <div class="container">
    <div class="content-container">
      <div class="google-logo">
        <span class="g">F</span>
        <span class="o1">u</span>
        <span class="o2">n</span>
        <span class="g">d</span>
        <span class="l">o</span>
        <span class="e">o</span>
      </div>

      <div class="form-container">
        <div class="heading-text">
          <h1><span>Account recovery</span></h1>
          <div class="signIn-msg">
            <span>Enter Your new password</span>
          </div>
        </div>

        <div class="input-container">
          <div class="input-data">
            <p>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>New password</mat-label>
                <input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                <mat-error>enter valid paswword</mat-error>
                <!-- <br>
                <mat-hint style="font-size: 16px; margin-top: 5px; margin-left: -20px;"> <mat-checkbox>Show
                    password</mat-checkbox>
                </mat-hint> -->
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Confirm Password</mat-label>
                <input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword">
                <mat-error *ngIf="forgotPassword.get('confirmNewPassword')?.invalid"> Password do not match</mat-error>
                <!-- <mat-hint style="font-size: 16px; margin-top: 5px; margin-left: -20px;">
                </mat-hint> -->
              </mat-form-field>
              <mat-checkbox (click)='showPassword()'>Show
                password</mat-checkbox>
            </p>
            

            <!-- <span>
                            <div class="not-your-comp-msg">
                                <div class="msg">
                                    Not your computer? Use Guest mode to sign privately. <br>
                                    <a href="https://support.google.com/chrome/answer/6130773?hl=en" class="learn-more">Learn more</a>
                                </div>
                            </div>
                          </span> -->

            <div class="button-all">
              <div class="buttonss">
                <div class="next-button">
                  <button mat-raised-button color="primary"
                    style="background-color: rgb(26,115,232); width: 80px;" (click)="submit()">Next</button>
                </div>
                <div class="create-ac-button">
                  <button mat-button color="primary" style="color: rgb(26,115,232);">Try another way</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>