
<div class="main">
    <form [formGroup]="login">
    <div class="container">
        <div class="content-container">
            <div class="google-logo">
                <span class="g">G</span>
                <span class="o1">o</span>
                <span class="o2">o</span>
                <span class="g">g</span>
                <span class="l">l</span>
                <span class="e">e</span>
              </div>

              <div class="form-container">
                <div class="heading-text">
                    <h1><span>Sign in</span></h1>
                    <div class="signIn-msg">
                        <span>Use your Google Account</span>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-data">
                        <p>
                            <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Email or phone</mat-label>
                              <input matInput formControlName="email">
                              <br>
                              <mat-hint style="font-size: 16px; margin-top: 5px; margin-left: -15px; color: rgb(26,115,232);  cursor: pointer;" routerLink="/reset" routerLinkActive="active">  
                                Forgot email? </mat-hint>
                            </mat-form-field>
                          </p>

                          <p>
                            <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Password</mat-label>
                              <input matInput placeholder="" type="password" formControlName="password">
                              <br>
                              <mat-hint style="font-size: 16px; margin-top: 5px; margin-left: -15px; color: rgb(26,115,232); cursor: pointer;" routerLink="/forgot-password" routerLinkActive="active"> 
                                Forgot password?</mat-hint>
                            </mat-form-field>
                          </p>

                          <span>
                            <div class="not-your-comp-msg">
                                <div class="msg">
                                    Not your computer? Use Guest mode to sign privately. <br>
                                    <a href="https://support.google.com/chrome/answer/6130773?hl=en" class="learn-more">Learn more</a>
                                </div>
                            </div>
                          </span>

                          <div class="button-all">
                            <div class="buttonss">
                                <div class="next-button">
                                    <button mat-raised-button color="primary"  style="background-color: rgb(26,115,232); width: 80px;" type="button" (click)="loginUser()">Next</button>
                                </div>
                                <div class="create-ac-button">
                                    <button mat-button color="primary" style="color: rgb(26,115,232);" routerLink="/sign-up">Create account</button>
                                </div>

                            </div>
                          </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</form>
</div>

