<div class="main">
    <div class="container" >
        <div class="create_node_input" (click)="hideDiv()" *ngIf="!hidden">
            <div class="show_class">
                Take a note...
            </div>

            <div role="button" class="newList three-buttons" matTooltip="New list" aria-label="New list"
                style="user-select: none;" tabindex="0"></div>
            <div role="button" class="newNoteWithDrawing three-buttons" matTooltip="New Note with Image"
                aria-label="New Note with drawing" style="user-select: none;" tabindex="0"></div>
            <div role="button" class="newNoteWithImg three-buttons" matTooltip="New Note with drawing"
                aria-label="New Note with Image" style="user-select: none;" tabindex="0"></div>
        </div>

        <div class="main-create-note" *ngIf="hidden">
            <form class="create_note-innner" [formGroup]="notes" >
                <div class="take_note_Title">
                    <div class="inputForTitle_And_ping">
                        <input type="text" class="title-input" placeholder="Title" formControlName="title">
                        <img src="../../../assets/ping.svg" alt="" class="ping-img">
                    </div>

                    <div class="inputForNote">
                        <input type="text" class="title-input" placeholder="Take a note..." formControlName="note">
                    </div>
                </div>

                <div class="final-close-buttons">
                    <div class="allFuntionlity_buttons">
                        <img src="../../../assets/remindMe.svg" matTooltip="Remind me" alt=""
                            class="allFuntionlity-img">
                        <img src="../../../assets/collabrator.svg" matTooltip="collabrator" alt=""
                            class="allFuntionlity-img">
                        <img src="../../../assets/colorSelect.svg" matTooltip="Background options" alt=""
                            class="allFuntionlity-img">
                        <img src="../../../assets/AddImage.svg" matTooltip="Add image" alt=""
                            class="allFuntionlity-img">
                        <img src="../../../assets/archiveImage.svg" matTooltip="Archive" alt=""
                            class="allFuntionlity-img">
                        <img src="../../../assets/more.svg" matTooltip="More" alt="" class="allFuntionlity-img">
                        <img src="../../../assets/undo.svg" matTooltip="Undo" alt="" class="allFuntionlity-img">
                        <img src="../../../assets/undo.svg" matTooltip="Redu" alt="" class="allFuntionlity-img redu">
                    </div>

                    <button mat-button class="close-button" (click)="createNote()">Close</button>
                </div>
            </form>
        </div>


    </div>

</div>