<div class="main">
    <mat-card class="main-create-note" *ngFor="let Note of AllNotesData" >
        <mat-card-content class="create_note-innner">
            <div class="take_note_Title" (click)="openDialog(Note)">
                <div class="inputForTitle_And_ping" >
                    <span class="title-input">{{Note.title}}</span>
                    <img src="../../../assets/ping.svg" alt="" class="ping-img">
                </div>

                <div class="inputForNote">
                    <span class="discription-input">{{Note.description}}</span>
                </div>
            </div>

            <div class="final-close-buttons">
                <app-icons [notesData]="Note" (refreshTrashAndArchiveNodeTodisplay)="refreshNotesData()"></app-icons>
            </div>
        </mat-card-content>
    </mat-card>
</div>