<div class="main">
    <div class="main-create-note" *ngFor="let Note of AllNotesData">
        <form class="create_note-innner">
            <div class="take_note_Title">
                <div class="inputForTitle_And_ping" >
                    <span class="title-input">{{Note.title}}</span>
                    <img src="../../../assets/ping.svg" alt="" class="ping-img">
                </div>

                <div class="inputForNote">
                    <span class="title-input">{{Note.description}}</span>
                </div>
            </div>

            <div class="final-close-buttons">
                <app-icons></app-icons>
            </div>
        </form>
    </div>
</div>