.main {
  margin-top: 20px;
  display: flex;
  padding-left: 50px;
  height: fit-content;
  word-break: break-all;

  flex-wrap: wrap;
}

/************************************/
.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

.mat-mdc-card-content:first-child {
  padding-top: 0px;
}

.mat-mdc-card-content {
  display: block;
   padding: 0 8px; 
}
.main-create-note {
  width: 300px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: opacity;
  margin: 11px;
  height: fit-content;
}

.main-create-note:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.main-create-note:hover .ping-img {
  visibility: visible;
}

.main-create-note:hover .final-close-buttons {
  visibility: visible;
}


.create_note-innner {
  background-color: #fff;
  border-color: #e0e0e0;
  border: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
  color: #202124;
  gap: 10px;
}

.create_note-innner:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.take_note_Title {
  max-height: 600px;
  overflow-y: auto;
  min-height: 60px;

  overflow: hidden;
  position: relative;
  transition: max-height 0.218s ease-in;
  display: flex;
  flex-direction: column;
}

.inputForTitle_And_ping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // min-height: 44px;
  padding: 12px 16px 5px 8px;
  min-height: 28px;
  // max-height: 75px;
}

.title-input {
  color: #000000;
  font-size: 15px;
  // letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;

  font-weight: 400;
  border: none;
  outline: none;
  width: fit-content;

  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to display */
  -webkit-box-orient: vertical;

  word-wrap: break-word;
  word-break: break-all;
}

.discription-input{
  color: #4a4a4a;
  font-size: 15px;
  // letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;

  font-weight: 400;
  border: none;
  outline: none;
  width: fit-content;

  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 14; /* number of lines to display */
  -webkit-box-orient: vertical;

  word-wrap: break-word;
  word-break: break-all;
}



.ping-img {
  visibility: hidden;
  height: 32px;
  width: 32px;
  opacity: 0.54;
  transition: opacity 0.218s ease-in;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

.ping-img:hover {
  opacity: 0.87;
  background-color: rgba(45, 46, 47, 0.059);
  border-radius: 50%;
}

.inputForNote {
  padding: 4px 16px 12px 8px;
  color: #202124;
  // min-height: 46px;
  min-height: 25px;
  // max-height: 250px;
}

/*************************************/
.final-close-buttons {
  visibility: hidden;
  display: flex;
  // justify-content: space-between;
  margin: 4px 0;
  justify-content: flex-start;
}
