.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar.mat-primary {
  background: rgba(255, 255, 255, 1);
  color: #5f6368;
  box-shadow: inset 0 -1px 0 0 #dadce0;
}

.header-title {
  // width: 200px;
  height: 48px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.mat-drawer.mat-drawer-side {
  z-index: 2;
  min-width: 300px;
  border-right: none;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  padding-top: 6px;
  // vertical-align: middle;
  font-family: Product Sans, Arial, sans-serif;
  // margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

/*************************************/
.middle-searchBar-Buttons {
  justify-content: flex-start;
  flex: 1 1 100%;
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;

  align-items: center;
  display: flex;
}

.search-bar {
  padding-right: 30px;
  height: 48px;
  max-width: 720px;
  // width: 720px;
  padding-left: 60px;
}

.search {
  margin-left: 0;
  margin-right: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  background: #f1f3f4;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  position: relative;
}

.searches-input {
  height: 46px;
  padding: 0;
  margin-left: 56px;
  margin-right: 49px;
  overflow: hidden;
}

.selected {
  background: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
    0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

.input-search {
  padding: 11px 0;
  background: transparent;
  border: none;
  font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
  font-variant-ligatures: none;
  height: 46px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 0 5px;

  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  // padding: 0 5px;
  line-height: 0;
}

.clearSearch {
  position: absolute;
  right: 0;
  cursor: pointer;
  visibility: hidden;
  top: 0;
  transition: opacity 250ms ease-out;
}

.clearSearch svg {
  padding: 8px;
  margin: 3px;

  border-radius: 50%;
  color: #5f6368;
  opacity: 1;

  fill: currentColor;
}

.search-icon {
  float: left;
  position: absolute;
  top: 0;
}

.search-icon svg {
  padding: 8px;
  margin: 3px;

  border-radius: 50%;
  color: #5f6368;
  opacity: 1;

  fill: currentColor;
}

/******************************/
.three-buttons {
  line-height: 0;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  gap: 7px;
}

.right-button {
  background-size: 24px 24px;
  box-sizing: border-box;
  height: 48px;
  left: 3px;
  // position: absolute;
  top: 0;
  width: 48px;

  border-radius: 50%;
  border: 1px solid transparent;

  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
  display: inline-block;
  outline: none !important;
  opacity: 0.54;
}

.backup-button {
  background-image: url("../../../assets/refresh.svg");
}

.list-view-button {
  background-image: url("../../../assets/list-View.svg");
}

.setting-button {
  background-image: url("../../../assets/setting.svg");
}

.backup-button:hover,
.setting-button:hover,
.list-view-button:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}

.mat-mdc-menu-item.mdc-list-item {
  align-items: center;
  padding: 0px 20px 4px 20px;
}

.mat-mdc-menu-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  background: none;
  text-decoration: none;
  margin: 0;
  min-height: 25px;
}

/******************/
.header-right-part {
  display: flex;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-right: 20px;
  padding-left: 30px;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.more-optns {
  padding-left: 0;
  padding: 4px 2px;
  display: inline-block;
  vertical-align: middle;
}

.more-optns:hover,
.login_user_logo:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
  border-radius: 50%;
}

.optns {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  padding: 6px;

  background-position: -64px -29px;
}

.optns svg {
  color: #5f6368;
  opacity: 1;
  fill: currentColor;
}

.login_user_logo {
  padding-left: 6px;
  padding: 8px 10px;
  vertical-align: middle;
}

.login_user_logo img {
  background-size: 32px 32px;
  border: 0;
  border-radius: 50%;
  display: block;
  margin: 0px;
  // position: relative;
  height: 32px;
  width: 32px;
}

/*************************/

.list-icon {
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 15px;
}
.iconName {
  // position: absolute;
  margin-left: 20px;
  color: #202124;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.toolIcon {
  width: 25px;
  height: 25px;
  fill: #202124;
}

.mat-mdc-list-item-interactive:focus {
  background-color: #fef0c3;
  filter: brightness(116%);
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  // border-color: rgba(0, 0, 0, .1);
  // border: 0.2px solid rgba(0, 0, 0, 0.793);
}


.mat-mdc-list-item-interactive:not(:focus):hover::before {
  opacity: 0.2;
  background-color: rgba(128, 126, 126, 0.659);
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0%;
}


.note1 {
  padding-top: 100px;
  padding-left: 18px;
}
@media (min-width: 1050px) {
  .search-bar {
    padding-right: 30px;
    height: 48px;
    // min-width: 620px;
    width: 700px;
    padding-left: 60px;
  }

  .middle-searchBar-Buttons {
    width: 720px;
    justify-content: space-between;

    flex: 1 1 100%;
    // gap: 180px;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    display: flex;
  }
}
