
.allFuntionlity_buttons {
    // width: 100%;
    display: flex;
    flex-wrap: row;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    // justify-content: space-between;
  }
  
  .allFuntionlity-img {
    color: #202124;
    opacity: 0.71;
    height: 22px;
    width: 30px;
    // margin: 0 0px 0px 8px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }


  .allFuntionlity-img:hover {
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
    border-radius: 50%;
  }


.mat-mdc-menu-item {
   min-height: 0px; 
}
.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 8px;
}