<div class="main">
    <div class="container">
        <div class="content-container">
            <div class="google-logo">
                <span class="g">G</span>
                <span class="o1">o</span>
                <span class="o2">o</span>
                <span class="g">g</span>
                <span class="l">l</span>
                <span class="e">e</span>
            </div>
            <br>
            <div class="form-container">
                <div class="heading-text">
                    <h1><span>Find your email</span></h1>
                    <div class="signIn-msg">
                        <span>Enter your phone number or recovery email</span>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-data">
                        <p>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Phone number or email</mat-label>
                                <input matInput placeholder="" type="email">
                                <br>
                            </mat-form-field>
                        </p>

                        <div class="button-all">
                            <div class="buttonss">
                                <div class="next-button">
                                    <button mat-raised-button color="primary"
                                        style="background-color: rgb(26,115,232); width: 80px;"
                                        (click)="forgotPassword()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>